@media (max-width: 750px) {
  .errorMessage {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 25px;
  }

  .textInput input,
  button {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 25px;
  }

  .country img {
    max-width: 350px;
  }
  .h3 {
    text-align: center;
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
  .country img {
    max-width: 350px;
  }
  .h3 {
    font-size: 20px;
    text-align: center;
  }
  .errorMessage {
    max-width: 400px;
    font-size: 20px;
  }
}

@media (max-width: 440px) {
  .country img {
    max-width: 250px;
  }
  .h3 {
    font-size: 13.5px;
    font-weight: bold;
    text-align: center;
  }
}

@media (max-width: 460px) {
  h2 {
    font-size: 20px;
  }

  .textInput input,
  button {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 18px;
  }

  .textInput input,
  button {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .errorMessage {
    max-width: 300px;
    font-size: 17px;
  }
}
